
<div class="grid-container">
  <mat-grid-list
    class="grid-list"
    [cols]="(layout$ | async)?.columns"
    [rowHeight]="(layout$ | async)?.rowHeight">
    <mat-grid-tile *ngFor="let genderGroup of catsAlphabeticallyByOwnersGender$ | async">
      <app-card [title]="genderGroup.gender">
        <mat-list>
          <mat-list-item *ngFor="let cat of genderGroup.cats">
            <h4 matLine>{{cat.name}}</h4>
          </mat-list-item>
        </mat-list>
      </app-card>
    </mat-grid-tile>
  </mat-grid-list>
 </div>
